# --- General ---
ASPNETCORE_ENVIRONMENT=Development

# --- Notification Service (Postgres) ---
POSTGRES_HOST=postgres
POSTGRES_DB=notificationservice
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_password_here

# --- Message Broker (RabbitMQ) ---
RABBITMQ_HOST=rabbitmq
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

# --- OpenMRS (MariaDB) ---
OMRS_DB_NAME=openmrs
OMRS_DB_USER=openmrs
OMRS_DB_PASS=openmrs_secure_password
OMRS_ROOT_PASS=root_secure_password